.jumbotron{

	background-color: #609dff !important;

}

.btn{
	background-color: white !important;
}

.btn:hover{
	background-color: blue !important;
	color: white !important;
}

a[href^="mailto"]{
	color: white;
}

.img-circle {
    border-radius: 50%;
}

fa fa-linkedin {
		color:white
}

.footer{
	background-color: #609dff;
}

.invert {
	filter: invert(100%);
}
